@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");

// Mixins
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Custom properties
.card--shoe-1 {
  --color-inner: #faa700;
  --color-outer: #e48d00;
  --color-accent: #a1173c;
}

.card--shoe-2 {
  --color-inner: #fce4b3;
  --color-outer: #eac886;
  --color-accent: #2f4858;
}

.card--shoe-3 {
  --color-inner: #6dd5ed;
  --color-outer: #2193b0;
  --color-accent: #008951;
}

.hero {
  --color-accent: #faa700;
}

// Styles
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 10em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.spacing-vertical > *:not(:last-child) {
  margin-bottom: var(--spacer, 2rem);
}

.spacing-horizontal > *:not(:last-child) {
  margin-right: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  color: var(--color-text, #fff);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 1.25em;
  background-color: var(--color-accent, orangered);
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
    opacity: 0.9;
    outline: none;
  }
}

.primary-title {
  font-size: 4rem;
  // Responsive typography
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1.2;
  text-transform: uppercase;
}

.section-title {
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  text-align: center;
  line-height: 1.1;
  color: #17353d;
  margin-bottom: 1.7em;
}

.hero {
  color: #fff;
  text-align: center;
  padding: 15em 0;
  background: #222;

  @supports (background-blend-mode: multiply) {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.features {
  background-color: #eee;

  &__container {
    @include flexCenter();
    flex-wrap: wrap;
    gap: 2em;
  }

  &__item {
    flex-basis: 30%;
    min-width: 15em;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    cursor: pointer;
    position: relative;
    text-align: center;
    line-height: 1.2;

    &:hover,
    &:focus {
      transform: scale(1);

      .features__detail {
        opacity: 1;
        transform: translateY(-200%);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 10%;
      background-color: #2193b0;
      padding: 37.5%;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__detail {
    opacity: 0;
    transition: all 300ms ease-out;

    span {
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }
}

.card {
  background: radial-gradient(
    var(--color-inner, limegreen),
    var(--color-outer, purple)
  );
  padding: 3em;
  border-radius: 1em;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 3em;
  }

  &__title {
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    color: #fff;
    text-shadow: 0 0 0.2em rgba(#000, 0.2);
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__img {
    margin: -1em -5em 0 0;
    // max-width: 500px;
  }

  @media (min-width: 45em) {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 10em;
    }

    &__img {
      width: 65%;
    }

    &--shoe-right {
      .card__img {
        float: right;
        shape-outside: url("../img/shoe-1.png");
        shape-margin: 2em;
        margin: -3em -5em 0 0;
      }
    }
    &--shoe-left {
      .card__img {
        shape-outside: url("../img/shoe-2.png");
        shape-margin: 2em;
        float: left;
        margin: -1em 0 0 -5rem;
      }
    }
  }
}
